* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #edf6f9;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background-color: #006d77;
}

.logo {
    color: #ffddd2;
    font-size: 32px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #8291a5;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}

/*ul li a:hover,*/
/*ul li a.active {*/
/*    color: #ffddd2;*/
/*    background: #83c5be;*/
/*}*/

ul li a:hover {
    color: #ffddd2;
    background: #83c5be;
}

#icon {
    background-color: #83c5be;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #ffddd2;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #ffddd2;
}

#icon:hover svg {
    color: #83c5be;
}

#checkbox, #icon {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        border-bottom: 1px solid #455468;
    }

    ul {
        position: absolute;
        width: 100%;
        /*height:calc(100vh-71px);*/
        background: #006d77;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked ~ ul {
        display: block;
    }
}